default_language_version:
  python: python3.11
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: name-tests-test

#  - repo: https://github.com/astral-sh/ruff-pre-commit
#    rev: v0.3.2
#    hooks:
#      - id: ruff
#        args: [ --fix, --exit-non-zero-on-fix ]
